<div class="container-fluid home-page"style="background-image: url('./img/berries-2277_960_720.jpg') ;">
    <div class="welcome">
        <h1 class="mt-5 text-white" style="font-size: 1.9rem;">WELCOME TO RESTAURANTS 💔</h1>
        <a class="btn btn-primary mt-5" href="/register">Register</a>
        {{#if session }}
            <p class="notify">
                <span>Thank you (^_^)</span> 
            </p>
        {{/if}}
    </div>
</div>